body {
    display:flex;
    background-image: url(https://www.popsockets.com/dw/image/v2/BFSM_PRD/on/demandware.static/-/Sites-popsockets-master-catalog/default/dw7fe2333f/images/hi-res/Enamel_Pokeball_01_Top-View.png?sw=800&sh=800);
}

button {
 
    width: 150px;
    height: 80px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: white;
    text-shadow: 0 3px 5px black;
    background: linear-gradient(to top, #696969, #575757);
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: inset 0 20px 4px -18px rgba(255, 255, 255, 0.4), 0 12px 12px 0 rgba(0, 0, 0, 0.3);
  }

  #pokemonOne, #pokemonTwo, #winner {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color:#00a1ba;
  }